[submodule "adi-hdl"]
	path = adi-hdl
	url = https://github.com/analogdevicesinc/hdl.git
[submodule "zc706_fmcs2/ip/openofdm_rx"]
	path = zc706_fmcs2/ip/openofdm_rx
	url = https://github.com/open-sdr/openofdm.git
[submodule "ip/openofdm_rx"]
	path = ip/openofdm_rx
	url = https://github.com/open-sdr/openofdm
