*.v linguist-language=Verilog
*.html linguist-generated
*.htm linguist-generated
*.c linguist-generated
*.h linguist-generated
.project linguist-generated
*.xml linguist-generated
*.xci linguist-generated
*.tcl linguist-generated
boards/zcu102_fmcs2/sdk/system_top_hw_platform_0/system_top.bit filter=lfs diff=lfs merge=lfs -text
boards/zcu102_fmcs2/sdk/system_top_hw_platform_0/system.hdf filter=lfs diff=lfs merge=lfs -text
boards/zc706_fmcs2/sdk/system_top_hw_platform_0/system_top.bit filter=lfs diff=lfs merge=lfs -text
boards/zc706_fmcs2/sdk/system_top_hw_platform_0/system.hdf filter=lfs diff=lfs merge=lfs -text
boards/adrv9361z7035/sdk/system_top_hw_platform_0/system_top.bit filter=lfs diff=lfs merge=lfs -text
boards/adrv9361z7035/sdk/system_top_hw_platform_0/system.hdf filter=lfs diff=lfs merge=lfs -text
boards/zed_fmcs2/sdk/system_top_hw_platform_0/system.hdf filter=lfs diff=lfs merge=lfs -text
boards/zed_fmcs2/sdk/system_top_hw_platform_0/system_top.bit filter=lfs diff=lfs merge=lfs -text
boards/zc702_fmcs2/sdk/system_top_hw_platform_0/system.hdf filter=lfs diff=lfs merge=lfs -text
boards/zc702_fmcs2/sdk/system_top_hw_platform_0/system_top.bit filter=lfs diff=lfs merge=lfs -text
boards/antsdr/sdk/system_top_hw_platform_0/system.hdf filter=lfs diff=lfs merge=lfs -text
boards/antsdr/sdk/system_top_hw_platform_0/system_top.bit filter=lfs diff=lfs merge=lfs -text
boards/adrv9364z7020/sdk/system_top_hw_platform_0/system.hdf filter=lfs diff=lfs merge=lfs -text
boards/adrv9364z7020/sdk/system_top_hw_platform_0/system_top.bit filter=lfs diff=lfs merge=lfs -text
