*.v linguist-language=Verilog
*.html linguist-generated
*.htm linguist-generated
*.c linguist-generated
*.h linguist-generated
.project linguist-generated
*.xml linguist-generated
*.xci linguist-generated
*.tcl linguist-generated
